<div class="container">

  <div class="row" *ngIf="!expandirFoto; else detalheImagem">
    <div *ngFor="let image of imagens" class="card col-md-2" style="padding: 10px; margin: 10px">
      <img class="card-img-top" src="https://img00.deviantart.net/5ab6/i/2018/088/5/f/hanannie_day___18_by_yamio-dc7ca76.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          Hanannie Day</h5>
        <a (click)="expandirImagem()" class="btn btn-primary">Open Image</a>
      </div>
    </div>
    
  </div>
<ng-template #detalheImagem>
  <div class="jumbotron" >
    <img class="main-image" src="https://img00.deviantart.net/5ab6/i/2018/088/5/f/hanannie_day___18_by_yamio-dc7ca76.png" alt="Fadinha de Kimono">
      <h1 class="display-4">Hanannie Day | 18</h1>
      <p class="lead">The Hebomoia Glaucippe, also known as the Great Orange Tip, is a butterfly native to South and Southeast Asia, including China and Japan. 
          Because they are found in many regions, their ability to adapt to different climates is notable. 
         This species has a few subspecies, and each subspecies has varying white to yellow colors. 
         This butterfly is well known for its ability to carry poison from a snail species, using this as a defense mechanism to deter predators.  
         Their pale colored areas of their wings also work as camouflage to blend in with leaves. 
         When on top of leaves, the Great Orange tip must constantly flutter its wings to stay balanced due to its body weight. </p>
      <hr class="my-4">
      <p>Imagem de <a href="https://yamio.deviantart.com/">Yamio</a>.</p>
      <a class="btn btn-primary btn-lg" (click)="expandirImagem()" role="button">Voltar</a>
    </div>
  </ng-template>
</div>